<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BeatEmApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <BeatEmApp.Properties.Settings>
            <setting name="Database1ConnectionString" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\marco\source\repos\BeatEm\BeatEmApp\Database1.mdf;Integrated Security=True</value>
            </setting>
            <setting name="DatabaseConnect" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;SerializableConnectionString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;
  &lt;ConnectionString&gt;Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\marco\source\repos\BeatEm\BeatEmApp\Database1.mdf;Integrated Security=True&lt;/ConnectionString&gt;
  &lt;ProviderName /&gt;
&lt;/SerializableConnectionString&gt;</value>
            </setting>
        </BeatEmApp.Properties.Settings>
    </applicationSettings>
</configuration>